<h1>Task Manager</h1>
<p>A simple project for ASE course.</p>

<p>
  <%= link_to('Task', {controller: 'tasks', action: 'index', page: 3}) %>
</p>
<p>
  <%= link_to('About', {controller: 'main', action: 'about', page: 5}) %>
</p>