<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% if @page == 3 %>
    <h2>List of Tasks</h2>
<% end %>

<ul>

  <% @tasks.each do |task| %>
    <li>

      <%= task %>

    </li>
  <% end %>

</ul>